@font-face {
    font-family: arial-rounded;
    src: url(ARLRDBD_0.TTF);
}

* {
    padding: 0;
    margin: 0;
    font-family: arial-rounded, system-ui, sans-serif;
    font-weight: normal;
    
}

body {
   background-color: rgb(186, 73, 73);
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    height: 140px;
}

.game {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.board {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 3fr);
    height: 550px;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.1);
}


.cell {
    font-size: 8rem;
    color: white;
    text-align: center;
    border:rgb(186, 73, 73) solid;
}

.cell:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.victory {
    display: flex;
    justify-content: center;
}

.winner {
    color: white;
    font-size: 3rem;
    padding: 20px;
}

.game > button {
    width: 180px;
    padding: 5px 0px;
    border-radius: 5px;
    font-size: 2rem;
    border: none;
    color: rgb(186, 73, 73);
}

.game > button:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.game > button:active {
    border: 2px solid rgb(186, 73, 73);
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.names {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    gap: 30px;
    justify-content: center;
    padding: 30px;
}

input {
    outline: none;
    border: none;
    color: rgb(186, 73, 73);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
    height: 10px;
}

input:focus {
    outline: rgba(0, 0, 0, 0.4) solid 3px;
}

label {
    display: flex;
    gap: 10px;
}